/* GENERAL
------------------------------------------------------------*/
ul, li, h1, body,p { margin: 0; padding: 0; }
.center 	{ vertical-align: middle; }
.clear, .cl { clear: both; }
.wrap		{ overflow: hidden; }

body{
	font-family: Verdana;
	font-size: 14px;
	background-image: url('../img/hoffman.png'); 
}
table{
border-collapse:collapse;
}
table,th, td{
/*border-bottom: 1px solid black;*/
}
.text-center{
	text-align: center;
}
.table-row-diff tr:nth-child(even){
	background-color: #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
}
.table-row-diff tr:hover{
	background-color: #BDBDBD;
	border-bottom: 1px solid #BDBDBD;
}
legend{
	padding: 5px;
	color: #ffffff;
	background-color: #5A8EB6;
	border: 1px solid #446986;
/*	-webkit-box-shadow: 1px 2px 10px 0px #444444;
	-moz-box-shadow: 1px 2px 10px 0px #444444;
	box-shadow: 1px 2px 10px 0px #444444;*/
}
fieldset{
	border: 1px solid #446986;

/*	-webkit-box-shadow: 1px 2px 10px 0px #444444;
	-moz-box-shadow: 1px 2px 10px 0px #444444;
	box-shadow: 1px 2px 10px 0px #444444;*/
}
input[type=text], input[type=date]{
	border: 1px solid #5A8EB6;
	height: 25px;
	line-height: 25px;
}
textarea{
	border: 1px solid #5A8EB6;
}
input[type=submit]{
	border-radius: none;
}
#pagination{
	margin: 10px;
	text-align: center;
}
#pagination a{
	border: 1px solid #446986;
	margin: 5px 0px;
	text-decoration: none;
	color:#446986;
	padding: 5px;
}
#pagination {
	clear: both;
}
#pagination .next a{
	margin-left: 5px;
}
#pagination strong{
	border-radius: none;
	border: 1px solid #5A8EB6;
	background-color: inherit;
	cursor: pointer;
	background-color: #5A8EB6;
	color: #ffffff;
	padding: 5px;
}
#flash-data{
	color: #5A8EB6;
	font-weight: bold;
	padding-left: 20px;
}
#flash-data p{
	color: #446986;
	border-left: 10px solid #446986;
	border-top: 1px solid #446986;
	border-bottom: 1px solid #446986;
	border-right: 1px solid #446986;
	font-weight: bold;
	padding-left: 20px;
	padding: 10px 20px;
	margin-bottom: 5px;
}
#validation-box p{
	color: #FF0000;
	border-left: 10px solid #FF0000;
	border-top: 1px solid #FF0000;
	border-bottom: 1px solid #FF0000;
	border-right: 1px solid #FF0000;
	font-weight: bold;
	padding-left: 20px;
	padding: 10px 20px;
	margin-bottom: 5px;
}
input[type=submit]{
	border-radius: none;
	border: 1px solid #5A8EB6;
	background-color: inherit;
	cursor: pointer;
	color:  #446986;
	padding: 5px;
	display: block;
}
input[type=submit]:hover{
	border-radius: none;
	border: 1px solid #5A8EB6;
	background-color: inherit;
	cursor: pointer;
	background-color: #5A8EB6;
	color: #ffffff;
	padding: 5px;
	display: block;
}
/* NAVIGATION
------------------------------------------------------------*/
nav i{
	margin-right: 10px;
	font-size: 1.25em;
}
nav{
	float: left;
	min-width: 200px;
	background-color: #F1F1F1;
	text-transform: uppercase;
	font-size: 0.75em;
	margin-right: 25px; 
}
nav ul{
	list-style: none;
}
nav ul #navigation-header{
	background-color: #5A8EB6;	
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	border: none;
	text-align: center;
/*	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0px 7px 10px -5px black;*/
	border-bottom: 3px solid #446986;
	padding-left: 0px; 
}
nav ul #navigation-header a{
	padding: 0px;
}
nav li a{
	display: block;
	text-decoration: none;
	color: #000000;	
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #ffffff;
	/*border-left: 1px solid #ffffff;*/
	border-left: 1px solid #CCCCCC;
	padding-left: 20px;
	color: #353535;
}
nav ul li a:hover{
	/*background-color: #5A8EB6;*/
	border-left: 1px solid #5A8EB6;
}
nav li ul a{
	padding-left: 27px
}
nav li a:hover i{
	color: #446986;
}
nav #main-nav li ul{

}


ul#main-nav li:hover > ul{
	display: block;
	opacity: 1;
    height: auto;
    min-width: 200px;
}

ul#main-nav li ul {
	position:absolute;
	top:0px;
	left:200px;
	z-index: 9999;
}
ul#main-nav li {
	position: relative;
}


ul#main-nav li ul a {
	color: #ffffff;
} 

ul#main-nav ul {
	/*visibility: hidden; background-color: #D9D9D9;*/
	background-color: #5A8EB6;
	position: absolute;
	display: none;
    -webkit-transition: opacity 1s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

.extra-note{
	color:red; 
	margin:15px 15px 15px 15px;
}

.container{
	width:  1280px;
	margin: auto;
}
.general-message{
	color: #00AFAF;
	border-left: 10px solid #008F8F;
	border-top: 1px solid #008F8F;
	border-bottom: 1px solid #008F8F;
	border-right: 1px solid #008F8F;
	font-weight: bold;
	padding-left: 20px;
	padding: 10px 20px;
}
.general-error{
	color: #00AFAF;
	border-left: 10px solid #FF0000;
	border-top: 1px solid #008F8F;
	border-bottom: 1px solid #008F8F;
	border-right: 1px solid #008F8F;
	font-weight: bold;
	padding-left: 20px;
	padding: 10px 20px;
}

/* CONTENT
------------------------------------------------------------*/
#content{
	float: left;
	/*padding: 0px 20px; */
	width: 1000px;
	/*background-color: #F1F1F1;	*/
	background-color: #F1F1F1;
}
#content h1{
	font-size: 0.875em;
	background-color: #5A8EB6;	
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	border: none;
	text-align: center;
/*	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0px 7px 10px -5px black;*/
	border-bottom: 3px solid #446986;
	padding-left: 0px; 
	margin-bottom: 20px;
}
#content-inner{
	padding: 0px 20px 10px 20px;
}
#header{
	background-color: #5A8EB6;
	height: 50px;
	margin-bottom: 15px;
	color: #ffffff;
	border-bottom: 3px solid #446986;
}
#header h1{
	line-height: 50px;
	padding-left: 20px;
}
/* ADMIN - SPECIFIC
------------------------------------------------------------*/
.admin-tournaments-table{
	width: 100%;
	margin-top: 20px;
}
.admin-tournaments-table a{
	border: 1px solid #446986;
	margin: 5px 0px;
	text-decoration: none;
	color:#446986;
	display: block;
}.admin-tournaments-table a:hover{
	background-color:#446986;
	color: #ffffff;
}
.admin-tournaments-table th{
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #000000;
}

.admin-tournaments-table tr{
	line-height: 25px;
}
.admin-tournaments-table tr td{
	padding: 0px 5px;
}
#add-tournament{

}
#add-tournament tr{
	line-height: 30px;
	height: 30px;
}
#activate-players{
	width: 100%;
}
.player-error{
	padding: 10px;
	border-bottom: 1px solid #CCCCCC;
}
#confirmation-errors{
	margin-top: 10px;
}
#confirmation-errors table{
	width: 100%;
	text-align: center;
}
#confirmation-errors input[type=submit]{
	float: right;
}
#tournament-import-new label{
	width: 15%;
	display: block;
	float: left;
}
.admin-player-avatar{
	width: 64px;
	height: 64px;
}
#admin-players-table{
	text-align: center;
	width: 100%;
}
#admin-players-table a{
	border: 1px solid #446986;
	margin: 5px 0px;
	text-decoration: none;
	color:#446986;
	display: block;
}
#admin-players-table a:hover{
	background-color:#446986;
	color: #ffffff;
}
#admin-players-table th{
	font-weight: normal;
	border-bottom: 1px solid #000000;
}
#admin-players-table tr.second{
	border-bottom: 1px solid #CCCCCC;
}
#admin-players-table td{
	padding: 5px;
}
#admin-players-table span{
	color: #9B9B9B;
	font-size: 12px;
}
#admin-autocreated-profiles-table{
	width: 100%;
	text-align: center;
}
#admin-autocreated-profiles-table a{
	border: 1px solid #446986;
	margin: 5px 0px;
	text-decoration: none;
	color:#446986;
	display: block;
}
#admin-autocreated-profiles-table a:hover{
	background-color:#446986;
	color: #ffffff;
}
#admin-autocreated-profiles-table tr{
	line-height: 25px;
}
#admin-autocreated-profiles-table th{
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #000000;
}
.table-line-height{
	line-height: 25px;
}
/** Mailing list-style: 
---------------------------------------------------*/
#mailing-list{
	padding: 0px 20px;
}
#mailing-list #form-top label{
	display: block;
	margin-top: 10px;
	margin-bottom:5px; 
	color: #446986;
}
#mailing-list input{
	/*width: 60%;*/
	/*float: ledf;*/
}
#mailing-list table{
	display: block;
}
#mailing-list table tbody{
	display: block;
}
#mailing-list table tbody tr{
	display: block;
}
#mailing-list table  tr td{
	text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
    	height: 16px;
	line-height: 16px;
}
.mailing-single-item{
	padding-left: 10px;
}
#mailing-list textarea{
	width: 100%;
}
#mailing-errors p{
	color: red;
	border-left: 10px solid #FF0000;
	font-weight: bold;
	padding-left: 20px;
	padding: 10px 20px;
	margin-bottom: 5px;
	font-weight: normal;
	font-size: 14px;
}
#mailing-success p{
	color: green;
	border-left: 10px solid green;
	font-weight: bold;
	padding-left: 20px;
	padding: 10px 20px;
	margin-bottom: 5px;
	font-weight: normal;
	font-size: 14px;
}

/** IMPORT 
-------------------------------------------*/
#import-confirmation-toggle-all{
	text-align: right;
}

/** CATEGORIES
-------------------------------------------*/
#add-category{
	overflow: hidden;
}
#add-category table{
	float: left;
}
#add-category input[type=submit]{
	float: right;
}
.CSS_Table_Example {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSS_Table_Example table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSS_Table_Example tr:last-child td:last-child {
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}.CSS_Table_Example table tr:first-child td:first-child {
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}.CSS_Table_Example table tr:first-child td:last-child {
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}.CSS_Table_Example tr:last-child td:first-child{
	-moz-border-radius-bottomleft:9px;
	-webkit-border-bottom-left-radius:9px;
	border-bottom-left-radius:9px;
}.CSS_Table_Example tr:hover td{
	background-color:#82c0ff;
	background:-o-linear-gradient(bottom, #82c0ff 5%, #56aaff 100%);	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #82c0ff), color-stop(1, #56aaff) );
	background:-moz-linear-gradient( center top, #82c0ff 5%, #56aaff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#82c0ff", endColorstr="#56aaff");	background: -o-linear-gradient(top,#82c0ff,56aaff);
}.CSS_Table_Example tr:first-child td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");	background: -o-linear-gradient(top,#0069d3,007fff);
	background-color:#0069d3;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#ffffff;
}.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
	background:-moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");	background: -o-linear-gradient(top,#0069d3,007fff);
	background-color:#0069d3;
}.CSS_Table_Example tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}.CSS_Table_Example tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}.CSS_Table_Example td{
	background:-o-linear-gradient(bottom, #56aaff 5%, #82c0ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #56aaff), color-stop(1, #82c0ff) ); 
	background:-moz-linear-gradient( center top, #56aaff 5%, #82c0ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#56aaff", endColorstr="#82c0ff");	background: -o-linear-gradient(top,#56aaff,82c0ff);
	background-color:#56aaff;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Comic Sans MS;
	font-weight:bold;
	color:#000000;
}.CSS_Table_Example tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSS_Table_Example tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSS_Table_Example tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}

.center-table {
	margin-left:auto; 
    margin-right:auto;
}
.scroll {
	max-width: 100%;
    overflow: auto;
}

.registered-players {
	width:1500px!important;
}

.general_error {
	color: red!important;
	margin:10px;
	padding:10px;
}
.merge-btn {
	width: 50%;
	margin-left:auto;
	margin-right:auto;
	font-size:150%;
	margin-bottom: 20px;
}

